<link rel="stylesheet" href="/styles/pedido.css" type="text/css">
{{#if temPromocao}}
<header class="header">
    <h1>Promoção</h1>
</header>
{{/if}}
<main>
    <div class="pedido">
        <div class="info-main"> 
            <h1 id="nome_produto">{{produtoSelecionado.nome_produto}}</h1>
            <span class="src" style="display: none;">{{produtoSelecionado.imagem}}</span>
            <img alt="Foto do pedido" width="250px" height="150px">
            <div class="info-food">
                <p>{{produtoSelecionado.descricao}}</p>
                {{#if temPromocao}}
                    <h2 class="principal-price">{{produtoSelecionado.promocao_valor}}</h2>
                    {{else}}
                    <h2 class="principal-price">{{produtoSelecionado.vl_venda}}</h2>
                {{/if}}
                <span style="display: none;" class="cod_produto">{{produtoSelecionado.cod_produto}}</span>
                <span style="display: none;" class="tipo_pizza">{{produtoSelecionado.tipo_pizza}}</span>
                <span style="display: none;" class="promocao">{{produtoSelecionado.promocao}}</span>
                <span style="display: none;" class="id_pizza">{{produtoSelecionado.id_pizza}}</span>
                <span style="display: none;" class="unidade">{{produtoSelecionado.unidade}}</span>
                <span style="display: none;" class="cod_pesquisa">{{produtoSelecionado.codigo_pesquisa}}</span>
                <span style="display: none;" class="cod_grupo">{{produtoSelecionado.cod_grupo}}</span>
            </div>
        </div>
        <form name="options" action="http://192.168.15.21:3000/cardapio/submit" method="post">
            <div class="content">
                {{#each gruposComplementos}}
                    {{#each this.opcoes}}
                    <span style="display: none;" class="cod_complemento">{{this.cod_complemento}}:{{this.complemento}}</span>
                    {{/each}}
                    <div class="group group-options">
                        <div class="title-group">
                            <h2>{{this.grupo_complemento}}</h2>
                            <span style="display: none;" class="minimoComplemento">{{this.MinimoComplemento}}</span>
                            <span style="display: none;" class="maximoComplemento">{{this.MaximoComplemento}}</span>
                            {{#if this.MinimoComplemento}}
                                <h3 class="maxOptions required">Obrigatório (Máximo de opções: {{this.MaximoComplemento}})</h3>
                                <h3 class="">Mínimo de opções: {{this.MinimoComplemento}}</h3>
                                {{else}}
                                {{#if this.ilimitado}}
                                    <span style="display: none;" class="ilimitado">{{this.ilimitado}}</span>
                                    <h3 class="maxOptions">Opcional (Máximo de opções: Ilimitado)</h3>
                                    {{else}}
                                    <h3 class="maxOptions">Opcional (Máximo de opções: {{this.MaximoComplemento}})</h3>
                                {{/if}}
                            {{/if}}
                        </div>
                        <div class="options">
                            {{#each this.opcoes}}
                                
                                {{#if this.valor}}
                                    <div class="option option-without-price">
                                        <p class="text-option">{{this.complemento}}</p>
                                        <p class="price">R$ {{this.valor}}</p>
                                        <div class="checkboxArea">
                                            <input type="checkbox" value="1" name="option 1" onchange="verificar(this)">
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="option option-without-price">
                                        <p class="text-option">{{this.complemento}}</p>
                                        <div class="checkboxArea">
                                            <input type="checkbox" value="0" name="option 1" onchange="verificar(this)">
                                        </div>
                                    </div>
                                {{/if}}
                                
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
                <div id="group-textarea" class="group">
                    <div class="title-group">
                        <h2>Informação adicional</h2>
                    </div>
                    <textarea name="text" rows="4" cols="20" placeholder="Insira aqui alguma informação de preparo"></textarea>
                </div>
                <div class="group group-price">
                    <div class="subTotal">
                        <h2>Subtotal:</h2>
                        {{#if temPromocao}}
                            <h2 id="subTotal">{{produtoSelecionado.promocao_valor}}</h2>
                        {{else}}
                            <h2 id="subTotal">{{produtoSelecionado.vl_venda}}</h2>
                        {{/if}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</main>
<footer>
    <div id="back-button">
        <h2>Voltar</h2>
    </div>
    <div id="qtd-input">
        <img id="less-button" src="/images/less.png" alt="Botão de diminuir a quantidade">
        <h2 id="quantity">1</h2>
        <img id="plus-button" src="/images/mais.png" alt="Botão de aumentar a quantidade">
    </div>
    <div id="add-to-buy">
        <h2>Adicionar</h2>
    </div>
</footer>
<script src="/scripts/controllOptions.js"></script>
<script src="/scripts/renderPrices.js"></script>
<script>
    const img = document.querySelector('.info-main img')
    const src = document.querySelector('.src').innerHTML

    if (src != '') img.src = src
    else img.src = '../images/hamburguer-de-queijo.png'
</script>